<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoices Data Extraction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    {% if 'username' in session %}
        <p>Hello, {{ session["username"] }}! Isn't you?</p>
        <a href="{{ url_for('auth.logout_user') }}" class="btn btn-danger">Log Out</a>
    {% endif %}

    <div>
        <!-- Image Background -->
        <img src="static/images/background-header.png" class="img-fluid" alt="Responsive image">
    <div class="container">
        <header></header>

        <form action="/" method="post" enctype="multipart/form-data">
            
            <button type="button" class="btn btn-primary" onclick="document.getElementById('image-input').click();">IMPORT IMAGE</button>
            <button id="detect-button" type="submit" class="btn btn-primary">DETECT IMAGE</button>

            <input type="file" id="image-input" name="file" accept="image/*" style="display: none;" onchange="loadImage(event)">
            <div id="image-box">
                <p>No image selected</p>
            </div>
        </form>

        <div class="table">
            <h2>Invoice Results</h2>
            <p><strong>Store Name:</strong> <span id="storeName"></span></p>
            <table class="table table-bordered" id="resultTable">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data -->
                </tbody>
            </table>       
            <button class="download-btn" onclick="downloadJSON()">Download JSON</button>
            <button class="confirm-btn" onclick="confirmUpload()">Save to your Data</button> 
        </div>
        
        

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        window.onload = function() {
            {% if 'username' in session %}
                var message = 'Welcome, {{ session["username"] }}!';
                showPopup(message);
            {% endif %}
        };
    
        function showPopup(message) {
            var popup = document.createElement('div');
            popup.className = 'popup';
            popup.innerHTML = message;
            document.body.appendChild(popup);
    
            setTimeout(function() {
                popup.style.display = 'none';
            }, 5000); 
        }
    </script>
</body>
</html>
